<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PUOFoodOrder_DEEP.My.MySettings.CustomerOrderConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CustomerOrder.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PUOFoodOrder_DEEP.My.MySettings.PUOFoodOrderDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PUOFoodOrderDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PUOFoodOrder_DEEP.My.MySettings.PUODatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PUODatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>